.container{
    display: flex;
    width: 250px;
    height: 90px;
    justify-content: center;
    align-items: center;
    background-color: var(--purpleColor);
    border-radius: 15px;
    border: unset;
    color: white;
    gap: 10px;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

.price{
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
}

.title{
    font-size: 22px;
    font-weight: 500;
}


.container:hover{
    background-color: #030303;
}